@model Wedding_Planner.ViewModels.PlanWeddingViewModel


@{
    ViewData["Title"] = "Plan A Wedding";
    var userName = ViewBag.UserName; 
    var userId = ViewBag.UserId;
   
}

<section>
    <h1 class="display-4 mb-3">Welcome @userName!</h1>
    <a href="/weddings/new" class="mb-3">Plan a Wedding</a>
    <table class="table">
        <thead>
            <tr>
                <th>Wedding of</th>
                <th>Date</th>
                <th>Guest Count</th>
                <th>Address</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var wedding in Model.Weddings)
            {
                <tr>
                    <td>@wedding.WedderOne & @wedding.WedderTwo</td>
                    <td>@wedding.Date.ToShortDateString()</td>
                    <td>@wedding.RSVPs.Count</td>
                    <td>@wedding.Address</td>
                    <td class="d-flex gap-2">
                        <a class="btn btn-sm btn-primary" asp-action="Edit" asp-route-id="@wedding.WeddingId">Edit</a>
                        <form asp-action="Delete" asp-route-id="@wedding.WeddingId" method="post">
                            <button type="submit" class="btn btn-sm btn-danger">Delete</button>
                        </form>
                        @{
                            if (wedding.RSVPs.FirstOrDefault(u => u.UserId == userId) is not null)
                        {
                            <form asp-action="UnRSVP" asp-route-weddingId="@wedding.WeddingId" method="post">
                                <button type="submit" class="btn btn-sm btn-secondary">Un-RSVP</button>
                            </form>
                        }
                        else
                        {
                            <form asp-action="RSVP" asp-route-weddingId="@wedding.WeddingId" method="post">
                                <button type="submit" class="btn btn-sm btn-success">RSVP</button>
                            </form>
                        }
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
</section>
